.monthlist-container {
  display: flex;
  margin: 5px;
}

.main-ul {
  list-style-type: none;
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

.indoor-planting-list {
  color: rgb(150, 116, 91);
}

.outdoor-planting-list {
  color:cadetblue
}

.what-to-harvest {
  color: gold;
}